<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ejemplo de Autenticación con Flask</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <link rel="stylesheet" href="../static/bootstrap-5.2.3/css/bootstrap.min.css">
    <script src="../static/bootstrap-5.2.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/diseño_inv.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
</head>

<body>
    

    <div class="hero-head">
        <nav class="navbar is-link">
            <div class="container">

                <div id="navbarMenuHeroA" class="navbar-menu">
                    <div class="navbar-end">
                        <a href="{{ url_for('main.index') }}" class="navbar-item">
                            Inicio
                        </a>
                        {% if current_user.is_authenticated %}
                        <a href="{{ url_for('main.profile') }}" class="navbar-item">
                            Perfil de Usuario
                        </a>
                        {% endif %}
                        {% if "Administrador" in current_user.roles %}
                        <a href="" class="navbar-item">
                            Productos
                        </a>
                        <a href="" class="navbar-item">
                            Compras
                        </a>
                        <a href="{{ url_for('main.inventario') }}" class="navbar-item">
                            Inventario
                        </a>
                        {% endif %}
                        {% if not current_user.is_authenticated %}
                        <a href="{{ url_for('auth.login') }}" class="navbar-item">
                            Login
                        </a>
                        <a href="{{ url_for('auth.register') }}" class="navbar-item">
                            Registro
                        </a>
                        {% endif %}
                        {% if current_user.is_authenticated %}
                        <a href="{{ url_for('auth.logout') }}" class="navbar-item">
                            Cerrar Sesión
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="container-fluid">
        
        {% block content %}
        {% endblock %}
        
    </div>
    


    
</body>

</html>