{% extends "base.html" %} 

{% block content %}

{%from "_macros.html" import render_field%}


<h2 class="text-center">Editar producto</h2>
<div class="cont_edit_producto">
    
    <div class="edit_form_producto">
        <form action="/editarProducto" method="post" enctype="multipart/form-data">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
            <div class="row">
                {{render_field(form.idProducto,class="form-control")}}
                {{render_field(form.productName,class="form-control")}}
            </div>
            <br>
            <div class="row">
                {{render_field(form.descripcion,class="form-control")}}
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <img src="data:image/png;base64,{{ imagen }}" id="img_original" width="128px" height="128px">
                    <input type="text" value="{{imagen}}" name="imgBase64" hidden>
                </div>
                <div class="col">
                    <label class="form-label">Cargar imagen: </label>
                    <input type="file" class="form-control" name="img_edit" id="img_edit" onchange="ver_foto();">
                </div>
            </div>
            <br>
            <div class="row">
                {{render_field(form.tipo_prod,class="form-control")}}
                {{render_field(form.precioVenta,class="form-control")}}
                {{render_field(form.estatus,class="form-control")}}
            </div>
            <br>
            <div class="row justify-content-around">
                <button type="submit" class="btn btn-success col-3"><i class="bi bi-pencil-square"></i> Editar</button>
                <a href="/producto" class="btn btn-danger col-3">Cancelar</a>
            </div>
        </form>
    </div>
</div>


{% endblock %}