{% extends "base.html" %}

{% block content %}



<br>
<center>
<h1 style="font-family: sans-serif; color: black">Bienvenido</h1>
<h5 style="font-family: sans-serif; color: black">A la seccion de proveedores</h5>

<img src="../static/bootstrap/img/TACONTODO2.png" width="200px" height="200px">
</center>
<br>
<br>


<div>
  <div style="float: right; padding-right: 30px;">
  
<form method="POST" action="/obtenerProveedores">
<button class="btn btn-primary">Buscar</button>
<input type="hidden" name="csrf_token" value="{{csrf_token}}"/>
<input value="" name="filtro" type="text"/>
</form>

<br>

<table class="table table-hover" style="max-width: 300px;">
    <thead>
      <tr style="background-color: #ff5757; color: white; font-family: 'Roboto', sans-serif; font-size: 16px;">
        <th style="color: white">ID</th>
        <th style="color: white">Empresa</th>
        <th style="color: white">Contacto</th>
        <th style="color: white">Correo</th>
        <th style="color: white">Telefono</th>
        <th style="color: white">Direccion</th>
        <th style="color: white">Revision</th>
        <th style="color: white">Eliminacion</th>
      </tr>
    </thead>
    <tbody>
    {% for proveedores in lista %}
      <tr style="background-color: #ffffff; color: black; font-family: 'Roboto', sans-serif; font-size: 16px;">
        <td>{{proveedores.id_proveedor}}</td>
        <td>{{proveedores.nombre_empresa}}</td>
        <td>{{proveedores.nombre_contacto}}</td>
        <td>{{proveedores.correo_electronico}}</td>
        <td>{{proveedores.telefono}}</td>
        <td>{{proveedores.direccion}}</td>
        <td>
            
            <form action="/registroSeleccionado" method="post">
                <input name="id_proveedor" value="{{ proveedores.id_proveedor }}" hidden>
                <input name="nombre_empresa" value="{{ proveedores.nombre_empresa }}" hidden>
                <input name="nombre_contacto" value="{{ proveedores.nombre_contacto }}" hidden>
                <input name="correo_electronico" value="{{ proveedores.correo_electronico }}" hidden>
                <input name="telefono" value="{{ proveedores.telefono }}" hidden>
                <input name="direccion" value="{{ proveedores.direccion }}" hidden>
                <input type="hidden" name="csrf_token" value="{{csrf_token}}"/>
                <button class="btn btn-warning" type="submit">Modificar</button>
              </form>

        </td>
        <td>
            
            <form action="/eliminarProveedor" method="post">
                <input name="id_proveedor" value="{{ proveedores.id_proveedor }}" hidden>
                <input type="hidden" name="csrf_token" value="{{csrf_token}}"/>
                <button class="btn btn-danger" type="submit">Eliminar</button>
              </form>
        </td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
  </div>





  
<div style="float: left; padding-left: 80px;">
<div class="card mb-3" style="background-image: url('img/fondo2.jpg'); max-width: 21rem; min-height: 400px; background-size: cover; color: white; font-family: 'Roboto', sans-serif;">
  <div class="card-body">
    <center>
    <h2 class="card-title" style="color:black">Formulario</h3>
    </center>
  <form method="POST" action="/guardarproveedor">
  <input value="{{id_proveedor}}" name="id_proveedor" type="hidden"/>
 
  <br>
  <h5 style="font-family: sans-serif; color: black">Empresa: <input value="{{nombre_empresa}}" name="nombre_empresa" type="text" style="width: 198px;"/></h5>
  
  <br>
  <h5 style="font-family: sans-serif; color: black">Contacto: <input value="{{nombre_contacto}}" name="nombre_contacto" type="text" style="width: 198px;"/></h5>
  
  <br>
  <h5 style="font-family: sans-serif; color: black">Correo: <input value="{{correo_electronico}}" name="correo_electronico" type="text" style="width: 216px;"/></h5>
  
  <br>
  <h5 style="font-family: sans-serif; color: black">Telefono: <input value="{{telefono}}" name="telefono" type="text" style="width: 200px;"/></h5>
  
  <br>
  <h5 style="font-family: sans-serif; color: black">Direccion: <input value="{{direccion}}" name="direccion" type="text" style="width: 190px;"/></h5>
  
  <br>
  <br>
<center>
  <input type="hidden" name="csrf_token" value="{{csrf_token}}"/>
  <button class="btn btn-success">Guardar</button>
</center>
  </form>
  </div>
</div>
</div>

</div>


<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>

{% endblock %}