flask
flask-sqlalchemy
flask-security
Flask-WTF
email-validator
mysqlclient
flask-marshmallow
bcrypt
pytz
WTForms
stripe
certifi
chardet
Click
idna
itsdangerous
Jinja2
MarkupSafe
requests
toml
Werkzeug
plyer
pymysql
python-decouple
sqlalchemy