.contenedor_producto{
    width: 100%;
    margin: 30px auto;
}

#tabs_panels{
    margin-top: 2em;
}

.contenedor_product_1 {
    display: flex;
    margin: auto;
}

.cont_second_pro{
    display: flex;
    flex-direction: column;
}

.buscar_producto {
    margin: 10px;
}

.form_product{
    border: 3px solid #ff5757;
    border-radius: 15px;
    width: 425px;
    height: 500px;
    padding: 10px;
}

.cont_table_product{
    width: 100%;
    max-width: 850px;
    height: 400px;
    margin-left: 5px;
}

.cont_table_product {
    overflow-y: scroll;
}

.tabla_producto{
    width: 100%;
}

.tabla_producto thead th{
    background-color:#ff5757;
    color: white;
    text-align: center;
    vertical-align: middle;
    padding: 0.5rem;
}

.tabla_producto td{
    text-align: center;
    padding: 0.7rem;
    border-bottom: 0.5px solid #d1d1d1;
}

.tabla_producto .sticky2 {
    position: sticky;
    top: 0;
}

.tabla_producto thead th .sticky2 {
    background-color:#ff5757;
    color: white;
    text-align: center;
    vertical-align: middle;
    padding: 0.5rem;
}

.cont_edit_producto {
    display: flex;
    justify-content: center;
}

.edit_form_producto {
    margin: 50px;
    border: 3px solid #ff5757;
    border-radius: 10px;
    width: 70%;
    height: 600px;
    padding: 10px;
}


/* Recetas apartado de CSS */
.contenedor_recetas {
    display: flex;
    margin: auto
}

.cont_form_receta {
    border: 3px solid #ff5757;
    border-radius: 15px;
    width: 500px;
    height: 625px;
    padding: 10px;
}

.cont_second_recetas {
    width: 800px;
    height: 625px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.buscar_recetas {
    width: 100%;
    height: 50px;
    padding: 10px;
    margin-bottom: 0.5rem;
    order: 1;
}

.cont_tabla_recetas {
    border: 3px solid #ff5757;
    border-radius: 15px;
    width: 100%;
    height: 550px;
    padding: 15px;
    order: 2;
}



